.event-container{
    width:80%;
    padding:2% 4%;
    text-align:center;
    
}
.event-item{
    padding: 3%;
    height:45vh;
}
.eve{
    width:90%;
}
.daycount{
    background-color: rgb(145, 56, 213);
}

.e1{
    
}