.navi-bar {
    background-color: #2C3333;
}

.navi-bar a{
    color: #CBE4DE;
}

.navbar-brand:hover {
    color: #CBE4DE;
}

#event-carousel {
    height: 100vh;
    width: 80%;
    padding: 5%;
    box-shadow: inset;
}